<!-- Twig template for view02 -->

<!-- CSS -->
<style>
  .accordion {
    display: block;
  }
  .accordion-button {
    display: block;
    border: none;
    width: 100%;
    text-align: left;
    background-color: #ccc;
  }
  .accordion-button-show {
    background-color: #999;
  }
  .accordion-content {
    display: none;
    background-color: #eee;
  }
  .accordion-content-show {
    display: block;
  }
  .accordion-button:after {
    content: "\025b8";
    float: right;
    margin-left: 6px;
  }
  .accordion-button:hover {
    background-color: #999;
  }
  .accordion-button-show:after {
    content: "\025be";
    float: right;
    margin-left: 6px;
  }
</style>

<!-- Sink -->
<div id="view02"></div>
